.profile-page {
  height: 100vh;
  margin: 0 auto;
  padding: 0px 16px;
}

.profile-role-label {
  color: #6e6e6b;
}

.profile-heading {
  color: var(--Main-Blue);
  font-size: 2rem;
  font-family: var(--inter);
  font-weight: 400;
  margin: 32px 0px 64px 0px;
  text-align: left;
  line-height: 32px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.fieldLabel {
  font-family: var(--inter);
  color: var(--Main-Blue);
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  width: 100%;
  text-align: left;
}

.field-label {
  font-family: var(--inter);
  color: var(--Main-Blue);
  font-size: 1rem;
  font-weight: 400;
  line-height: 32.342px; /* 200% */
  letter-spacing: -0.162px;
  width: 100%;
  text-align: left;
}

.profile-fields {
  margin: 20px 0px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.field-group,
.field-group-portfolio {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.field-input,
.field-select {
  color: var(--Main-Blue);
  height: 40px;
  padding: 5px 5px 5px 15.5px;
  border: 1.348px solid var(--Main-Blue);
  background: var(--Main-grey);
  font-family: var(--inter);
  width: 100%;
  cursor: pointer;
}

.fieldInput {
  color: var(--Main-Blue);
  height: 40px;
  padding: 0px 15.5px;
  border: 1.348px solid var(--Main-Blue);
  background: var(--Main-grey);
  font-family: var(--inter);
  width: 100%;
}

.field-group-portfolio {
  margin-bottom: 48px;
}

.interests-hint {
  color: var(--Main-Blue);
  font-family: var(--inter);
  font-size: 1rem;
  margin-top: 40px;
}

.interests-grid {
  display: inline-grid;
  width: 100%;
  row-gap: 17px;
  column-gap: 19px;
  align-self: stretch;
  grid-template-rows: repeat(4, fit-content(100%));
  grid-template-columns: repeat(2, minmax(0, 1fr));
  margin: 16px 0px 48px;
}

.error {
  color: var(--Main-red);
  font-size: 0.8rem;
  text-align: left;
  margin-top: -8px;
}

footer {
  background: var(--Main-grey);
  height: 2rem;
}
