.profile-page {
  height: 100vh;
  /* width: 100%; */
  margin: 0 auto;
}

/* .profile-container {
} */

.profile-role-label {
  color: #6e6e6b;
}

.profile-heading {
  color: var(--text-blue);
  font-size: 2rem;
  font-family: var(--sans);
  font-weight: 400;
  margin: 32px 16px 64px 16px;
  text-align: left;
  line-height: 32px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.fieldLabel {
  font-family: var(--sans);
  color: var(--text-blue);
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  width: 100%;
  margin: 0px 16px;
  text-align: left;
}

.field-label {
  font-family: var(--sans);
  color: var(--text-blue);
  font-size: 1rem;
  font-weight: 400;
  line-height: 32.342px; /* 200% */
  letter-spacing: -0.162px;
  width: 100%;
  margin: 0px 16px;
  text-align: left;
}

.profile-fields {
  margin: 20px 0px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.field-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.field-input,
.field-select {
  margin: 0px 16px;
  color: var(--text-blue);
  height: 40px;
  padding: 5px 5px 5px 15.5px;
  border: 1.348px solid var(--text-blue);
  background: var(--bg);
  font-family: var(--sans);
  width: 100vw;
  cursor: pointer;
}

.fieldInput {
  margin: 0px 16px;
  color: var(--text-blue);
  height: 40px;
  padding: 0px 15.5px;
  border: 1.348px solid var(--text-blue);
  background: var(--bg);
  font-family: var(--sans);
  width: 100%;
}

/* .interests-section {
} */

.interests-hint {
  color: var(--text-blue);
  font-family: var(--sans);
  font-size: 1rem;
  margin-top: 40px;
}

.interests-grid {
  display: inline-grid;
  width: 100vw;
  row-gap: 17px;
  column-gap: 19px;
  align-self: stretch;
  grid-template-rows: repeat(4, fit-content(100%));
  grid-template-columns: repeat(2, minmax(0, 1fr));
  margin: 16px;
}

footer {
  background: var(--bg);
  height: 120px;
}
