.fc-root {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.profile {
  height: 85vh;
}

.label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--Main-Blue);
  font-size: 2rem;
  font-family: var(--inter);
  font-style: normal;
  font-weight: 400;
  padding: 32px 16px 0px 16px;
  gap: 12px;
}

.name {
  color: var(--Main-Blue);
  font-size: 1rem;
  font-family: var(--inter);
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.15px;
  text-transform: uppercase;
  padding: 16px;
  text-align: left;
}

.animation {
  display: flex;
  flex-direction: column;
  gap: 120px;
  top: 15%;
  position: relative;
}

.circle {
  /* height: 50%; */
  position: relative;
}

/* .cards {
  height: 100%; 
}*/
