.button {
  display: flex;
  font-family: var(--inter);
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1rem;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid var(--Main-Blue);
  padding: 1rem 0;
  position: relative;
  cursor: pointer;
}

.button-primary {
  background: var(--Main-Blue);
  color: var(--Main-grey);
  width: 100%;
  padding: 1rem 0;
}

.button-primary:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.button-primary img {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.button-secondary {
  background: var(--Main-grey);
  color: var(--Main-Blue);
  justify-content: center;
  transition: transform 0.1s ease;
}

.button-secondary:active {
  transform: scale(0.97);
}

.selected {
  background-color: var(--interest-color);
  color: var(--Main-White);
  border: none;
  box-shadow: 0 0 0 2px white inset;
}
