/* DotText.module.css */

.dt-wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: absolute;
  z-index: 1;
  width: 100%;
}

.dt-wrapper canvas {
  width: 100%;
  height: auto;
  display: block;
}
