:root {
  --text-blue: #001a52;
  --text-black: #000;
  --text-white: #ffffff;
  --button-black: #242424;
  --bg: #e4e9eb;
  --accent-red: #e51236;
  --accent-blue: #001a52;
  --form-border: #c6c6c3;
  --accent-border: #001a52;
  --secondary-green: #c5ebd8;
  --secondary-yellow: #fcfa58;
  --secondary-light-blue: #35d4d1;
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, "Segoe UI", "Inter", sans-serif;
  --heading: system-ui, "Segoe UI", "Inter", sans-serif;
  --mono: Manrope;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  /* font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

@font-face {
  font-family: "LED Counter 7";
  src: url("./assets/fonts/led_counter-7.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }

  #social .button-icon {
    filter: invert(1) brightness(2);
  }
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  font-family: var(--sans);
}

body {
  min-height: 100dvh;
}

/* body {
  margin: 0;
} */

#root {
  /*  width: 100vw;
  margin: 0 auto; */
  text-align: center;
  /* border-inline: 1px solid var(--border);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box; */
}

h1,
h2,
h3,
h4 {
  color: var(--text-blue);
  margin: 0;
  font-feature-settings:
    "liga" off,
    "clig" off;
}

h1 {
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: -0.12rem;
}

h2 {
  font-family: var(--sans);
  font-size: 2rem;
  font-weight: 400;
  line-height: 2rem;
}

h3 {
  font-family: var(--sans);
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.375rem;
  letter-spacing: 0.00938rem;
}

h4 {
  font-family: var(--sans);
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0.5px;
}

p {
  font-family: var(--sans);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.375rem;
  margin: 0;
  font-feature-settings:
    "liga" off,
    "clig" off;
}

/*
code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}
 */
