:root {
  --Main-red: #e51536;
  --Main-Blue: #001a52;
  --Main-grey: #e4e9eb;
  --Main-White: #ffffff;
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --inter: system-ui, "Segoe UI", "Inter", sans-serif;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  background: var(--Main-grey);
}

@font-face {
  font-family: "LED Counter 7";
  src: url("./assets/fonts/led_counter-7.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  font-family: var(--inter);
}

/* min-height allows pages to grow beyond 100vh if content overflows */
body {
  min-height: 100dvh;
}

#root {
  text-align: center;
}

h1,
h2,
h3,
h4 {
  color: var(--Main-Blue);
  margin: 0;
  font-feature-settings:
    "liga" off,
    "clig" off;
}

h1 {
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: -0.12rem;
}

h2 {
  font-family: var(--inter);
  font-size: 2rem;
  font-weight: 400;
  line-height: 2rem;
}

h3 {
  font-family: var(--inter);
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.375rem;
  letter-spacing: 0.00938rem;
}

h4 {
  font-family: var(--inter);
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0.5px;
}

p {
  font-family: var(--inter);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.375rem;
  margin: 0;
  font-feature-settings:
    "liga" off,
    "clig" off;
}
